<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>{{user.first_name}} {{user.last_name}}</title>
</head>
<body>
    <div class="row">
        <div class="column">
            <img class="pic" width="200" height="200" src="{{user.image_url}}">
        </div>
        <div class="column">
            <h1>{{user.first_name}} {{user.last_name}}</h1>
            <a href="/users/{{user.id}}/edit.html" class="editbtn">Edit</a>
            <a href="/users/{{user.id}}/delete.html" class="deletebtn">Delete</a>
            <br>
            <h2>Posts</h2>  
            <ul>
                {% for p in posts %}
                <li><a href="/posts/{{p.id}}">{{p.title}}</a></li>
                {% endfor %}
            </ul>
            <a href="/users/{{user.id}}/posts/new" class="newpostbtn">Add Post</a>
        </div>
    </div>
    <a href="/">Go Back</a>    
</body>
</html>