<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add A New User</title>
</head>
<body>
    <h2>Create A User</h2>
    <form action="/users/new.html" method="POST">
        <input type="text" name="firstname" placeholder="Enter a First Name">
        <input type="text" name="lastname" placeholder="Enter a Last Name">
        <input type="text" name="image" placeholder="Provide an image of this user">
        <button>Add</button>
    </form>    
</body>
</html>