<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>{{tag.name}}</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="column">
                <h1>{{tag.name}} - {{tag.id}}</h1>
            </div>
        </div>
        <div class="row">        
            <div class="column">
                <ul>
                    {% for a in tag.assignments %}                  
                    <li><a href="/posts/{{a.post_id}}">{{a.postref.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>                
        </div>
        <div class="row">
            <p>
                <a href="/tags/{{tag.id}}/edit" class="editbtn">Edit</a>
                <a href="/tags/{{tag.id}}/delete" class="deletebtn">Delete</a>
            </p>        
        </div>
    </div>        
    <a href="/tags.html">Go Back</a>    
</body>
</html>